body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #192231; /* Dark blue text */

    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content */
    min-height: 100vh; /* Full viewport height */
}

header {
    width: 100%;
    background-color: #985E6D;
    padding: 0.5em 0;
    border-bottom: 1px solid #eaeaea;
}

nav {
    display: flex;
    justify-content: center; /* Centers the nav links */
    align-items: center; /* Centers the nav links vertically */
    flex-wrap: wrap; /* Wraps the nav links to the next line on small screens */
    gap: 50px; /* Spaces out the nav links */
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: #192231;
    padding: 0.5em 1em; /* Padding around the links for clickability */
    transition: color 0.3s ease;
}

.profile-photo {
    width: 150px; /* Adjust for your image */
    border-radius: 50%;
    margin: 1em auto; /* Center the image */
}

.profile-section h2 {
    margin: 0.5em 0;
}

.location {
    font-size: 1rem;
    margin-bottom: 1em;
}

.social-links {
    margin-bottom: 2em;
}

.social-links a.icon {
    display: inline-block;
    margin: 0 10px;
}

.social-links img {
    width: 24px;
    height: auto;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 20px;
}

.left-column {
    flex: 0 0 250px;
}

.right-column {
    flex: 1;
    max-width: 800px;
    text-align: left;
}

footer {
    width: 100%;
    flex-shrink: 0;
    background-color: #985E6D;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }
  
    .left-column, .right-column {
        max-width: 100%;
        text-align: center;
    }
}

nav a, #welcome a {
    text-decoration: none; /* Removes underline from all links in nav and welcome section */
    color: #ffffff; /* This is the default blue color for hyperlinks; change as needed */
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.main-flex-container {
    display: flex;
    justify-content: center;
    padding: 1em;
    gap: 1em;
}

.left-column {
    /* Adjust width as necessary, make sure it's responsive */
    width: 20%;
}

.download-cv {
    background-color: #98878F; /* Grey */
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    display: block;
    width: max-content;
    margin: 1em auto; /* Center the button */
    text-decoration: none;
    border-radius: 5px;
}

.download-cv:hover {
    background-color: #72666c; /* Darker grey */
}

@media (max-width: 768px) {
    .main-flex-container {
        flex-direction: column;
    }

    .left-column, .cv-content {
        width: 100%;
        margin-bottom: 1em;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }
}

.latest-news {
    margin-top: 2em;
}

.latest-news h2 {
    margin-bottom: 1em;
    color: #192231; /* Dark blue text */
}

.latest-news ul {
    list-style-type: none; /* Removes the default list styling */
    padding-left: 0; /* Aligns the list with the rest of the content */
}

.latest-news li {
    margin-bottom: 0.5em;
}

.latest-news li strong {
    color: #0056b3; /* Highlight the date */
}

.news-section {
    width: 100%;
    background-color: #f9f9f9; /* Light background for news section */
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional shadow for depth */
}

.news-item {
    background-color: #98878F; /* grey background for each item */
    margin-bottom: 10px; /* Space between news items */
    padding: 10px;
    border-radius: 5px; /* Rounded corners for polish */
    box-shadow: 0 2px 4px rgba(0,0,0,0.05); /* Subtle shadow for each item */
}

.news-item:last-child {
    margin-bottom: 0; /* No margin for the last item */
}